<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Your Knowledge: Saturn</title>
    <link rel="stylesheet" type="text/css" href="css/quiz.css">
</head>

<body ng-app="quiz">
    <div ng-controller="QuizController" id="wrapper">
        <div class="question" ng-show="currQuestion < questions.length">
            <h3>Are you...</h3>
            <h1>{{ questions[currQuestion].question }}</h1>

            <button class="ans yes" ng-click="selectAnswer(0)" ng-disabled="showFeedback">Yes</button>
            <button class="ans no" ng-click="selectAnswer(1)" ng-disabled="showFeedback">No</button>

            <div class="feedback" ng-show="showFeedback === true">
                <p>{{ questions[currQuestion].feedback }}</p>
            </div>

        </div>

        <div class="results" ng-show="currQuestion >= questions.length || showFeedback === true">
            <p ng-show="offended === true">Don't take that. Fight back. Share on Twitter</p>
            <p ng-show="offended === false">You're the chosen one.</p>
            <iframe ng-src="{{ ytUrl }}" ></iframe>
            <div class="share">
                <a class="btn email" href=#>Email</a>
                <a class="btn tweet" href=#>Tweet</a>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/quiz.js"></script>
</body>

</html>